html {
    font-family: 'Raleway', sans-serif;
}
.nav {
  color: white;
}
.main {
  padding: 20px;
  margin: 30px auto;

}

.postCard {
  padding: 30px;
  /* max-width: 400px; */
  border-radius: 10px !important;
  text-align: left;
}
.postFormCard {
  text-align: left;
  padding: 20px;
  margin: 0 auto;
}
.fieldTitle {
  font-weight: 700;
}